@media (max-width: 1706px)
  .container
    max-width: 1706px
  .request
    &-footer
      width: 1000px
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 342px
      flex-wrap: wrap
      &__tel
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 50%
      &__email
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 50%
      &__map
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 100%
      &__name, &__name-email, &__name-map
        font-family: 'NimbusSanNo5TCY', arial
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 24px
        letter-spacing: -0.02em
        font-feature-settings: 'ss03' on
        color: #616D7D
        margin-bottom: 8px
        &__number, &__email-link, &__map-link
          font-family: 'NimbusSanNo5TCY', arial
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 32px
          letter-spacing: -0.02em
          font-feature-settings: 'ss03' on
          color: #10121D
          text-decoration: none
  .nav
    &-head
      margin-bottom: 50px
    &-item
      height: 85px
@media (max-width: 1650px)
  .container
    &-main, &-us,  &-do, &-request
      padding-left: 250px
  .request
    &-footer
      padding-left: 250px
@media (max-width: 1470px)
  .container
    &-main, &-us,  &-do, &-request
  .main-info
    &-title
      font-size: 32px
    &-name
      &__one, &__two, &__three
        font-size: 95px
  .us
    margin-right: 0
    &-title
      font-size: 50px
    &-info
      max-width: 550px
    &-block
      &__text
        font-size: 14px
    &-slider
      height: 660px
      max-width: 350px
      margin-top: 5px
      &__button-next
        top: 73%
        right: 55px
      &__button-prev
        top: 73.5%
        left: 200px
    &-swiper
      &::before
        content: ''
        position: absolute
        top: 80px
        left: 143px
        width: 70px
        height: 47px
        background-image: url(../img/quote.svg)
        background-repeat: no-repeat
        z-index: 10
      &__text
        max-width: 235px
        font-size: 14px
        top: 150px
        left: 51px
      &__name
        top: 461px
        left: 31px
        font-size: 14px
      &__pos
        top: 485px
        left: 31px
        font-size: 12px
      &__image
        &--big
          height: 570px
        &--mini
          top: 421px
          left: -51px
      &__img
        &--photo
          width: 100%
          height: 100%
        &--mini
          width: 107%
      &__photo
        top: 378px
        left: 31px
        width: 80px
        height: 80px
  .request
    &-title-one
      font-size: 50px
    &-input-groups
      width: 600px
    &-input
      &-group-name
        width: 250px
      &-group-number
        width: 250px
      &-group-email
        width: 250px
      &-group-website
        width: 250px
    &-textarea
      &-fields
    &-wellcome
      margin-left: 0
  .textarea
    width: 600px
@media (max-width: 1350px)
  .container
    &-main
      max-width: 1350px
      margin: auto
      padding: 277px 50px 330px 250px
    &-us
      max-width: 1350px
    &-request
      max-width: 1350px
  .main-info
    &-title
      font-size: 32px
    &-name
      max-width: 900px
      &__one, &__two, &__three
        font-size: 80px
    &-slogan
      font-size: 26px
  .us
    margin-right: 20px
    &-title
      font-size: 50px
    &-info
      max-width: 550px
    &-block
      &__text
        font-size: 14px
    &-slider
      height: 660px
      max-width: 350px
      margin-top: 5px
      &__button-next
        top: 73%
        right: 55px
      &__button-prev
        top: 73.5%
        left: 200px
    &-swiper
      &::before
        content: ''
        position: absolute
        top: 80px
        left: 143px
        width: 70px
        height: 47px
        background-image: url(../img/quote.svg)
        background-repeat: no-repeat
        z-index: 10
      &__text
        max-width: 235px
        font-size: 14px
        top: 150px
        left: 51px
      &__name
        top: 461px
        left: 31px
        font-size: 14px
      &__pos
        top: 485px
        left: 31px
        font-size: 12px
      &__image
        &--big
          height: 570px
        &--mini
          top: 421px
          left: -51px
      &__img
        &--photo
          width: 100%
          height: 100%
        &--mini
          width: 107%
      &__photo
        top: 378px
        left: 31px
        width: 80px
        height: 80px
  .do
    &-title
      font-size: 50px
  .request
    &-title-one
      font-size: 50px
    &-input-groups
      width: 600px
    &-input
      &-group-name
        width: 250px
      &-group-number
        width: 250px
      &-group-email
        width: 250px
      &-group-website
        width: 250px
    &-textarea
      &-fields
    &-wellcome
      margin-left: 0
  .textarea
    width: 600px
@media (max-width: 1200px)
  .container
    &-main
      max-width: 1200px
      padding-left: 200px
    &-us
      max-width: 1200px
      padding-left: 200px
    &-do
      max-width: 1200px
      padding-left: 200px
    &-request
      max-width: 1200px
      padding-left: 200px
  .us
    &-info
      max-width: 420px
    &-block
      &__text
        font-size: 12px
    &-slogan
      font-size: 20px
  .do
    &-slogan
      font-size: 20px
  .request
    &-text
      font-size: 20px
    &-input-groups
      width: 420px
    &-input
      &-group-name, &-group-number,  &-group-email, &-group-website
        width: 200px
  .textarea
    width: 420px
@media (max-width: 992px)
  .container
    &-main
      max-width: 992px
    &-us
      padding-bottom: 30px
      flex-direction: column
    &-do
      padding-right: 10px
    &-request
      max-width: 992px
      padding-right: 10px
      justify-content: space-between
      align-items: center
  .main-info
    &-name
      flex-wrap: wrap
      align-items: center
    &-title
      font-size: 32px
    &-name
      max-width: 800px
      &__one, &__two, &__three
        font-size: 56px
    &-slogan
      font-size: 22px
  .do
    &-about
      width: 380px
    &-software
      font-size: 26px
  .request
    &-text
      font-size: 20px
    &-input-groups
      width: 350px
    &-input
      &-group-name, &-group-number,  &-group-email, &-group-website
        width: 320px
    &-wellcome
      margin: 0
      flex-basis: 64%
      align-self: flex-end
      &-bg
        width: 200px
        height: 300px
        &__img
          width: 200px
          height: 300px
        &__title
          top: 35px
          right: 66px
          font-size: 14px
        &__photo
          width: 80px
          height: 80px
          top: 100px
          right: 62px
          &-img
            width: 80px
            height: 80px
        &__name
          font-size: 18px
          top: 198px
          right: 71px
        &__pos
          font-size: 14px
          top: 223px
          right: 52px
    &-agree
      &__text
        font-size: 14px
    &-link
      font-size: 14px
    &-form
      &-submit
        font-size: 14px
    &-footer
      padding-left: 200px
      width: 700px
  .textarea
    width: 320px
@media (max-width: 767px)
  .container
    &-main
      padding: 150px 50px 150px 150px
      max-width: 767px
    &-us
      padding: 50px 50px 50px 150px
      max-width: 767px
    &-do
      padding: 50px 50px 50px 150px
      max-width: 767px
    &-request
      padding: 50px 50px 50px 150px
      max-width: 767px
  .us
    margin-right: 0
    text-align: center
    &-title
      font-size: 40px
    &-slogan
      align-items: center
      font-size: 16px
    &-info
      max-width: 300px
      align-items: center
      flex-direction: column
    &-block
      &__img
        margin: auto
  .main-info
    display: flex
    align-items: center
    flex-direction: column
    justify-content: space-between
    &-title
      margin: auto
      font-size: 20px
    &-name
      flex-direction: column
      max-width: 500px
      &__one, &__two, &__three
        font-size: 50px
    &-slogan
      text-align: center
      font-size: 18px
  .do
    margin-right: 0
    text-align: center
    &-title
      font-size: 40px
    &-slogan
      align-items: center
      font-size: 16px
  .request
    margin-right: 0
    text-align: center
    &-title-one
      font-size: 40px
    &-text
      align-items: center
      font-size: 16px
    &-textarea
      &-title
        margin: auto
        text-align: center
    &-button
      margin: auto
      margin-top: 20px
    &-footer
      padding-left: 150px
      width: 600px
      margin: auto
      &__number, &__email-link, &__map-link
        font-size: 14px
@media (max-width: 766px)
  .do
    margin: auto
    &-software
      display: none
  .request
    margin: auto
    &-wellcome
      display: none
    &-contact-form
      margin: auto
@media (max-width: 567px)
  .container
    &-main
      padding: 100px 50px 150px 150px
      max-width: 567px
    &-us
      padding: 50px 50px 50px 150px
      max-width: 567px
    &-do
      padding: 50px 50px 20px 150px
      max-width: 567px
    &-request
      padding: 50px 50px 50px 150px
      max-width: 567px
  .us
    &-slider
      height: 425px
      max-width: 280px
      &__button-next
        top: 88%
        right: 109px
      &__button-prev
        top: 88.5%
        left: 56px
    &-swiper
      &::before
        content: ''
        position: absolute
        top: 22px
        left: 116px
        width: 70px
        height: 47px
        background-image: url(../img/quote.svg)
        background-repeat: no-repeat
        z-index: 10
      &__image
        &--big
          height: 362px
        &--mini
          top: 269px
          left: -4px
      &__img
        &--mini
          width: 96%
      &__text
        max-width: 150px
        font-size: 12px
        letter-spacing: 0em
        line-height: 13px
        top: 94px
        left: 61px
      &__photo
        top: 241px
        left: 45px
        width: 60px
        height: 60px
      &__name
        top: 295px
        left: 43px
        font-size: 9px
      &__pos
        top: 314px
        left: 43px
        font-size: 9px
  .do
    &-about
      width: 200px
      margin: auto
    &-info
      margin: auto
      width: 200px
  .request
    &-input-groups
      margin: auto
      width: 250px
    &-input
      &-group-name, &-group-number, &-group-email, &-group-website
        width: 250px
    &-footer
      width: 280px
      padding-left: 50px
      margin: auto
  .textarea
    margin: auto
    width: 250px
@media (max-width: 480px)
  .container
    &-main
      padding: 70px 30px 120px 130px
      max-width: 480px
    &-us
      padding: 50px 30px 70px 130px
      max-width: 480px
    &-do
      padding: 50px 30px 70px 100px
      max-width: 480px
    &-request
      padding: 50px 30px 70px 100px
      max-width: 480px
  .nav
    width: 80px
    &-head
      width: 80px
      margin-bottom: 14px
      &__text
        font-weight: bold
        font-size: 10px
    &-list
      width: 75px
    &-item
      width: 75px
    &-link
      width: 80px
      &-pro
        width: 60px
        height: 68px
  .us
    &-info
      max-width: 200px
    &-title
      font-size: 26px
    &-slogan
      font-size: 14px
    &-about
      margin: auto
  .do
    max-width: 200px
    &-title
      font-size: 26px
    &-slogan
      font-size: 14px
  .request
    &-title-one
      ont-size: 26px
    &-text
      font-size: 14px
    &-input-groups
      margin: auto
      width: 200px
    &-input
      &-group-name, &-group-number, &-group-email, &-group-website
        width: 200px
    &-footer
      width: 200px
      padding-left: 50px
      margin: auto
    &-checkbox
      margin: auto
    &-footer
      &__tel
        flex-basis: 100%
  .textarea
    margin: auto
    width: 200px
@media (max-width: 320px)
  .container
  .main-info
    &-title
      font-size: 18px
    &-name
      font-size: 14px
    &-slogan
      font-size: 14px
