@media (max-width: 1200px)
  .request
    &-footer
      width: 1000px
      display: flex
      justify-content: space-between
      align-items: center
      padding-left: 342px
      flex-wrap: wrap
      &__tel
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 50%
      &__email
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 50%
      &__map
        display: flex
        justify-content: space-between
        align-items: left
        flex-direction: column
        flex-wrap: wrap
        margin-bottom: 20px
        flex-basis: 100%
      &__name, &__name-email, &__name-map
        font-family: 'NimbusSanNo5TCY', arial
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 24px
        letter-spacing: -0.02em
        font-feature-settings: 'ss03' on
        color: #616D7D
        margin-bottom: 8px
        &__number, &__email-link, &__map-link
          font-family: 'NimbusSanNo5TCY', arial
          font-style: normal
          font-weight: normal
          font-size: 12px
          line-height: 32px
          letter-spacing: -0.02em
          font-feature-settings: 'ss03' on
          color: #10121D
          text-decoration: none
