*
  box-sizing: border-box
body
  margin: 0
  font-family: 'NimbusSanNo5TCY', arial
  font-feature-settings: 'ss03' on
  overflow-x: hidden
  overflow-y: scroll
  border-radius: 24px

.container
  max-width: 100%
  margin: auto
.img
  width: 100%
@font-face
  font-family: 'Helvetica Neue Black'
  src: url('../fonts/ofont.ru_Helvetica Neue.woff2') format('woff2')
  src: url('../fonts/HelveticaNeueCyr-Black.woff') format('woff')
  font-weight: 400
  font-style: normal
  font-display: swap
.button
  min-width: 165px
  padding: 18px 32px 18px 32px
  margin-top: 20px
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  font-family: 'NimbusSanNo5TCY', arial
  font-style: normal
  font-weight: normal
  font-size: 16px
  line-height: 20px
  display: flex
  align-items: center
  text-align: center
  letter-spacing: 0.08em
  text-transform: uppercase
  color: #FFFFFF
  background: linear-gradient(180deg, rgba(18, 35, 121, 0) 83.65%, #182E9D 100%), linear-gradient(180deg, #132581 0%, #020B36 100%)
  box-shadow: 0px 3.84708px 2.74791px rgba(100, 120, 153, 0.0217013)
  border-radius: 32px
  border: none
  outline: none
  cursor: pointer
